@import '../../assets/scss/colors';

.tag {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 11px;
  border-radius: 3px;
  background: $color-grey;
  color: $color-black-light;
  font-size: 14px;
}
