@import '../../assets/scss/colors';

.input {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid $color-black-very-light;
  background: $color-grey-light;

  &.big {
    height: 55px;
    padding: 5px 15px;
    border-radius: 5px;

    input {
      font-family: 'SF Pro Semibold';
      font-size: 18px;
    }
  }

  input {
    flex: 1;
    height: 100%;
    border: none;
    background: transparent;

    &::placeholder {
      color: $color-black-very-light;
    }
  }

  .icon {
    width: 30px;
    height: 30px;
    padding: 3px;
    color: $color-grey;
  }
}
