$color-white: #ffffff;

$color-black: #333333;
$color-black-light: #808080;
$color-black-very-light: #acacac;

$color-grey: #efefef;
$color-grey-dark: #575558;
$color-grey-light: #f6f6f6;
$color-grey-very-light: #fcfcfc;

$color-primary: #605e61;
$color-primary-dark: #4a484b;

$color-danger: #fc5c65;
$color-danger-dark: #eb3b5a;
