$color-white: #ffffff;

$color-black: #333333;

$color-grey: #979292;
$color-grey-dark: #575558;
$color-grey-light: #d9d4db;
$color-grey-very-light: #f5f5f5;

$color-primary: #be90d4;
$color-primary-dark: #834f9c;

$color-danger: #fc5c65;
$color-danger-dark: #eb3b5a;
