@import '../../assets/scss/colors';

.button {
  display: flex;
  transition: all ease 0.3s;
  cursor: pointer;

  &.small {
    height: 30px;
    border-radius: 5px;
    font-size: 14px;

    &.rounded {
      border-radius: 15px;
    }

    .button-icon {
      width: 30px;
      height: 30px;
      padding: 6px;
    }

    .button-label {
      padding: 0 10px;
      font-size: 15px;
    }
  }

  &.medium {
    height: 45px;
    border-radius: 5px;
    font-size: 14px;

    &.rounded {
      border-radius: 23px;
    }

    .button-icon {
      width: 45px;
      height: 45px;
      padding: 12px;
    }

    .button-label {
      padding-right: 15px;
      font-size: 16px;
    }
  }

  &.default {
    background: $color-grey-very-light;

    &:hover {
      background: $color-grey-light;
    }
  }

  &.primary {
    background: $color-primary;
    color: $color-white;

    &:hover {
      background: $color-primary-dark;
    }
  }

  &.danger {
    background: $color-danger;
    color: $color-white;

    &:hover {
      background: $color-danger-dark;
    }
  }

  .button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-label {
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;
  }
}
