@import '../../assets/scss/_colors';

#popup-center {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -100;

  &.show {
    opacity: 1;
    z-index: 40;
  }

  #blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: unquote($color-grey-light + 'aa');
    z-index: 50;
  }

  .popup {
    width: 0;
    border-radius: 10px;
    box-shadow: 0 0 20px $color-grey;
    background: $color-white;
    opacity: 0;
    z-index: 100;
    transform: scale(75%);
    -webkit-transition: all 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &.show {
      display: flex;
      flex-direction: column;
      display: block;
      opacity: 1;
      transform: scale(100%);

      &.default {
        width: 550px;
      }

      &.alert {
        width: 400px;
      }
    }

    // DEFAULT POPUP
    & > .popup-header {
      display: flex;
      align-items: center;
      height: 60px;
      padding: 0 15px;
      border-bottom: 2px solid $color-grey;
    }

    & > .popup-body {
      flex: 1;
      padding: 15px;

      #label-icon-selector {
        margin-bottom: 10px;
        font-size: 15px;
      }

      #icon-selector {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        cursor: pointer;

        .icon-option {
          width: 40px;
          height: 40px;
          margin-right: 10px;
          padding: 5px;
          border-radius: 5px;
          color: $color-black-light;

          &.selected {
            border: 2px solid $color-black;
            color: $color-black;
          }
        }
      }
    }

    & > .popup-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 60px;
      padding: 0 15px;
      border-top: 2px solid $color-grey;

      .button {
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    // ALERT POPUP
    & > .popup-icon {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 20px 0;

      &.danger > .icon {
        border-color: $color-danger;
        color: $color-danger;
      }

      & > .icon {
        width: 100px;
        height: 100px;
        padding: 20px;
        border: 4px solid;
        border-radius: 50%;
      }
    }

    & > .popup-title {
      display: flex;
      justify-content: center;
      color: $color-black-light;
      font-size: 30px;
    }

    & > .popup-description {
      display: flex;
      justify-content: center;
      padding: 10px 50px 30px;
      color: $color-grey-dark;
      text-align: center;
    }

    & > .popup-actions {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;

      .button {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
