@import '../../assets/scss/colors';

#homepage {
  display: flex;
  width: 100%;
  height: 100%;

  /**********************/
  /*       MENU         */
  /**********************/

  #menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background: $color-grey-very-light;

    #logo {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100px;
      padding: 30px;

      #logo-icon {
        width: 40px;
        height: 100%;
        padding: 10px;
        border-radius: 10px 10px 10px 3px;
        background: $color-primary;
        color: $color-white;
      }

      #logo-text {
        display: flex;
        flex: 1;
        align-items: center;
        height: 100%;
        padding-left: 15px;
        font-size: 20px;
      }
    }

    #menu-group-container {
      flex: 1;
      width: 100%;

      .menu-group {
        width: 100%;
        padding: 10px 0;

        .menu-group-header {
          display: flex;
          align-items: center;
          width: 100%;
          height: 40px;
          padding: 15px 30px;
          color: $color-grey-dark;

          .menu-group-title {
            flex: 1;
            font-family: 'SF Pro Semibold';
            font-size: 14px;
          }

          .menu-group-action {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .menu-items {
          .menu-item {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 40px;
            margin: 5px 0;
            padding: 10px 30px 10px 26px;
            color: $color-grey;
            cursor: pointer;

            &.selected {
              color: $color-black;

              &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 4px;
                border-radius: 4px 0 0 4px;
                background: $color-primary;
              }
            }

            .menu-item-icon {
              width: 20px;
              height: 100%;
            }

            .menu-item-title {
              padding-left: 20px;
            }
          }
        }
      }
    }

    #profile-panel {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100px;
      padding: 30px;

      #profile-name {
        display: flex;
        justify-content: center;
        flex: 1;
        padding: 0 10px;
        font-size: 15px;
      }
    }
  }

  /**********************/
  /*     NOTE LIST      */
  /**********************/

  #note-list {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 100%;
    border-right: 2px solid $color-grey-very-light;

    #note-list-header {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100px;
      padding: 30px;

      #note-list-title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        flex: 1;
        padding: 5px 15px 10px 0;
        font-family: 'SF Pro Semibold';
        font-size: 30px;
        line-height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    #note-list-search {
      width: 100%;
      padding: 12px 30px;

      & > div {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    #notes {
      width: 100%;
      padding: 12px 30px;
      overflow: auto;

      .note-item {
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 5px;
        background: $color-grey-very-light;
        cursor: pointer;

        &.selected {
          border: 2px solid $color-primary;
        }

        .note-item-updated-at {
          color: $color-grey;
          font-size: 14px;
        }

        .note-item-title {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          padding: 5px 0 10px;
          font-family: 'SF Pro Semibold';
          font-size: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .note-item-content {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          font-size: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .note-item-tags {
          display: flex;
          padding-top: 10px;

          .tag {
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  /**********************/
  /*  NOTE VIEW PANEL   */
  /**********************/

  #note-view-panel {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;

    #note-view-header {
      display: flex;
      align-items: center;
      height: 100px;
      padding: 30px;

      #note-title {
        display: flex;
        flex: 1;
        align-items: center;
        font-size: 40px;
        font-family: 'SF Pro Semibold';

        .button {
          margin-left: 20px;
        }
      }

      #note-actions {
        display: flex;

        .button {
          margin-left: 20px;
        }
      }
    }

    #note-all-metadata {
      padding: 0 30px 30px;

      .note-metadata {
        display: flex;
        height: 40px;
        align-items: center;

        .note-metadata-label {
          width: 150px;
          color: $color-grey;
        }

        .note-metadata-value {
          display: flex;
          flex: 1;
          align-items: center;

          .avatar {
            margin-right: 10px;
          }

          .tag {
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    #note-view {
      display: flex;
      flex: 1;
      flex-direction: column;
      width: 100%;
      padding: 0 30px 30px;
      border-top: 2px solid $color-grey-very-light;
      overflow-y: auto;
    }
  }
}
