@import '../../assets/scss/colors';

#homepage {
  display: flex;
  width: 100%;
  height: 100%;

  /**********************/
  /*       MENU         */
  /**********************/

  #menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background: $color-grey-very-light;

    #profile-panel {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 35px;

      #profile-name {
        display: flex;
        justify-content: center;
        flex: 1;
        padding: 0 10px;
        font-size: 15px;
      }
    }

    #menu-group-container {
      display: flex;
      flex: 1;
      align-items: center;
      width: 100%;
    }

    #menu-footer {
      width: 100%;

      .menu-item {
        color: $color-black;
      }
    }

    .menu-group {
      width: 100%;
      padding: 10px 0;

      .menu-items {
        .menu-item {
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          margin: 5px 0;
          padding: 20px 35px;
          color: $color-grey;
          cursor: pointer;

          &.selected {
            color: $color-black;
          }

          .menu-item-icon {
            width: 20px;
            height: 100%;
          }

          .menu-item-title {
            padding-left: 20px;
            font-size: 15px;
          }
        }
      }
    }
  }

  /**********************/
  /*     NOTE LIST      */
  /**********************/

  #note-list {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 100%;
    border-right: 2px solid $color-grey-very-light;

    #note-list-header {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100px;
      padding: 30px;

      #note-list-title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        flex: 1;
        padding: 5px 15px 10px 0;
        font-family: 'SF Pro Semibold';
        font-size: 30px;
        line-height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    #note-list-search {
      width: 100%;
      padding: 12px 30px;

      & > div {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    #notes {
      width: 100%;
      padding: 12px 30px;
      overflow: auto;

      .note-item {
        position: relative;
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 5px;
        background: $color-grey-very-light;
        cursor: pointer;

        &.selected::after {
          content: '';
          position: absolute;
          top: -2px;
          left: -2px;
          width: calc(100% + 4px);
          height: calc(100% + 4px);
          border-radius: 7px;
          background: $color-primary;
          z-index: -1;
        }

        .note-item-updated-at {
          color: $color-grey;
          font-size: 14px;
        }

        .note-item-title {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          padding: 5px 0 10px;
          font-family: 'SF Pro Semibold';
          font-size: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .note-item-content {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          font-size: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .note-item-tags {
          display: flex;
          padding-top: 10px;

          .tag {
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  /**********************/
  /*  NOTE VIEW PANEL   */
  /**********************/

  #note-view-panel {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;

    #note-view-header {
      display: flex;
      align-items: center;
      height: 100px;
      padding: 30px;

      #note-title {
        display: flex;
        flex: 1;
        align-items: center;
        font-size: 40px;
        font-family: 'SF Pro Semibold';

        .button {
          margin-left: 20px;
        }
      }

      #note-actions {
        display: flex;

        .button {
          margin-left: 20px;
        }
      }
    }

    #note-all-metadata {
      padding: 0 30px 30px;
      font-size: 15px;

      .note-metadata {
        display: flex;
        height: 40px;
        align-items: center;

        .note-metadata-label {
          width: 150px;
          color: $color-grey;
        }

        .note-metadata-value {
          display: flex;
          flex: 1;
          align-items: center;

          .avatar {
            margin-right: 10px;
          }

          .tag {
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    #note-view {
      display: flex;
      flex: 1;
      flex-direction: column;
      width: 100%;
      padding: 0 30px 30px;
      border-top: 2px solid $color-grey-very-light;
      overflow-y: auto;
    }
  }
}
